.employee-list {
  background-color: white;
  color: black;
  border-radius: 15px;
  width: 290px;
  height: 100%;
  padding: 16px;
}
.header {
  display: flex;
  gap: 20;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 16px;
}
.add-employee-icon {
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 3px;
  width: 100%;
  margin-top: 13px;
  padding: 10px 10px;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 13px;
  color: #fff;
}

.search-input::placeholder {
  color: #aaa;
}
.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #aaa;
  padding: 0;
  display: flex;
  align-items: center;
}
.search-bar:focus {
  outline: none;
  border: 2px solid #007bff;
}
.list {
  list-style: none;
  margin-top: 16px;
}
.employee-item {
  border: #d6d6d6 1px solid;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  cursor: pointer;
}
.name-custody {
  display: flex;
  justify-content: space-between;
}
.employee-name {
  font-size: 22px;
  font-weight: bold;
  align-items: end;
}
