:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  background-color: #d9d9d9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  min-height: 100vh;
  position: relative;
}

/* ==================== Main Layout ==================== */
.main-layout {
  display: flex;
  min-height: calc(100vh - 62px);
}

/* ==================== Main Content ==================== */
.main-content {
  flex: 1;
  padding: 15px 20px;
  background-color: #d9d9d9;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
