body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  background: #07447c;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 450px;
  background: #ffffff;
  padding: 40px 35px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* لتأثير سلس */
}

.login-card:hover {
  transform: scale(1.03); /* زوم خفيف */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12); /* شادو أعمق قليلاً */
}

.circle {
  width: 85px;
  height: 85px;
  background: #0a4f8a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: white;
  margin: 0 auto 15px;
}

.title {
  font-size: 24px;
  color: #0a4f8a;
  margin-bottom: 8px;
  margin-bottom: 15px;
}

.subtitle {
  color: #777;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

label {
  display: block;
  text-align: right;
  margin: 12px 0 6px;
  color: #555;
  font-weight: 600;
  font-size: 15px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.input-wrapper input {
  width: 100%;
  padding: 13px;
  padding-right: 45px;
  background: #ededed;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  color: #000;
  font-family: "Cairo", sans-serif;
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
  margin-top: 10px;
}

.login-btn {
  width: 100%;
  padding: 13px;
  background: #0a4f8a;
  color: white;
  font-family: "Cairo", sans-serif;
  border: none;
  font-size: 17px;
  border-radius: 6px;
  margin-top: 22px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: white;
  color: #0a4f8a;
  border: 1px solid #0a4f8a;
}

.forgot {
  color: gray;
  margin-top: 18px;
  font-size: 14px;
}
.eror-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
